body { 
  margin-left: 80px;
  margin-right: 80px;
  background: url(assets/deckBack2.png);
  background-repeat: repeat;
}

.container {
  height: 85vh;
  border: 12px solid rgb(19, 1, 1);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  background: url(assets/deckBackk.png);
  background-repeat: repeat;
}

.card-container {

  margin-top: 45px;
  margin-bottom: 15px;
  margin-left: 170px;
  margin-right: 50px;
  border: 6px solid #013e1d;
  border-radius: 3px;
  background: url(assets/deckBack1.png);
  background-repeat: repeat;
  
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.slot {
  white-space: pre-wrap;
  flex-basis: 17.333%;
  flex-grow: 0;
  flex-shrink: 0;
}

img {
  transform: scaleX(-1);
  user-select: none;
}

.slot > img {
  width: 95%;
}


