html,
body {
	height: 100%;	
}

body {
	background: #000;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
	overflow: hidden;


}

.card {
	left: 0;
	top: 0;
	perspective: 400px;
	position: absolute;
	transform-style: preserve-3d;
	will-change: transform;	
	width: 250px;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

}

.card-image {
	display: block;
	pointer-events: none;
	transform-style: preserve-3d;
	width: 100%;
	will-change: transform;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}