*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 5.5rem);
    grid-template-rows: 9rem  19rem 9rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;    
    padding-bottom: 1rem;
}

.board {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    user-select: none;
}

.background {
    width: 376px;
       
}

.deck {
    height: 100%;
    width: 100%;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(47, 82, 51);
    font-size: 2rem;
    font-family: Brush Script MT;
    border-radius: .5rem;
    color: black;
    user-select: none;
    transform: scale(1);
}

.deck:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    user-select: none;
}

.flipCard {
    transform: rotateY(180deg)
}

