*, *::after, *::before {
    box-sizing: border-box;
}

:root {
  --size: 45vmin;
  --dur: 5.5s;
  --ease: cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
    background: radial-gradient(#333, #111);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(8, 5.5rem);
    grid-template-rows: 7rem  8rem 8rem 7rem;
    cursor: pointer;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
    justify-content: center;
    padding-top: 1rem;    
    padding-bottom: 1rem;
    grid-gap: 2rem;
}

.board {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 8;

    border:#ffffff;
    border-width: 3cm;
    user-select: none;
    justify-content: center;
    width: 415px;
}

.maincontainer {

    width: 115px;
    height: 100px;
    display: flex;
    background: none;

}

.card {
    perspective: 400px;
    position: relative;
    width: 100%;
    height: 5%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.back {
    width: 115px;
    height: 165px;
    position: absolute;
    border: 1.5px solid black;
    display: flex;
    backface-visibility: hidden;
    background-color: rgb(6, 110, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Brush Script MT;
    font-size: larger;
    border-radius: .5rem;
    color: black;
    user-select: none;
}

.front {
    position: absolute;
    width: 115px;
    height: 165px;
    backface-visibility: hidden;
    user-select: none;
    text-align: center;
}

.flippedPlayerCard:hover .front {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
	 transform: translateY(-100px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}

.flippedPlayerCard:hover .front:after {
    animation: fade 250ms ease out fowards;
}

.flippedPlayerCard:hover:after {
    top: -175px;
}


.flipCard {
    transform: rotateY(180deg) rotateZ(15deg); z-index: 1px;
}

.flip-player-card0 {
    transition: 1.5s;
    transform: translateY(-2250%) translateX(-120px) rotateY(180deg) rotateZ(15deg) scale(1.5, 1.5); 
}
.flip-player-card1 {
    transition: 1.5s;
    transform: translateY(-3000%) translateX(-48px) rotateY(180deg) rotateZ(7deg) scale(1.5, 1.5); 
}
.flip-player-card2 {
    transition: 1.5s;
    transform: translateY(-3000%) translateX(48px) rotateY(180deg) rotateZ(-7deg) scale(1.5, 1.5); 
}
.flip-player-card3 {
    transition: 1.5s;
    transform: translateY(-2250%) translateX(120px) rotateY(180deg) rotateZ(-15deg) scale(1.5, 1.5); 
}

.flip-computer-card0 {
    transition: 1.5s;
    transform: translateY(170%) translateX(8px)  rotateZ(5deg);
}
.flip-computer-card1 {
    transition: 1.5s;
    transform: translateY(300%) translateX(3px) rotateZ(3deg); 
}
.flip-computer-card2 {
    transition: 1.5s;
    transform: translateY(300%) translateX(-3px) rotateZ(-3deg); 
}
.flip-computer-card3 {
    transition: 1.5s;
    transform: translateY(170%) translateX(-8px) rotateZ(-5deg); 
}

.zoomCard {
    transition: 2s;
    transform: rotateY(180deg) scale(1, 1);
}

.box {
    height: 100%;
    width: 100%;

    /* align items in the box */
    display: flex;
    align-items: center;
    justify-content: center;

}

.playerBox0 {
    height: 200px;
    width: 120px;
    grid-row: 3;
    grid-column: 3;
    background-image: url(textures/frightfactor.jpg);
    background-repeat: repeat;
}

.playerBox1 {
    height: 200px;
    width: 120px;
    grid-row: 3;
    grid-column: 4;
    background-color: #1F0F2E;
    background-image: url(textures/magic.jpg);
    background-repeat: repeat;
}

.playerBox2 {
    height: 200px;
    width: 120px;
    grid-row: 3;
    grid-column: 5;
    background-color: #4F000B;
    background-image: url(textures/power.jpg);
    background-repeat: repeat;
}

.playerBox3 {
    height: 200px;
    width: 110px;
    grid-row: 3;
    grid-column: 6;
    background-color: #04471C;
    background-image: url(textures/age.jpg);
    background-repeat: repeat;
}

.computerBox0 {
    height: 200px;
    width: 120px;
    grid-row: 2;
    grid-column: 3;
    background-image: url(textures/frightfactor.jpg);
    background-repeat: repeat;
}

.computerBox1 {
    height: 200px;
    width: 120px;
    grid-row: 2;
    grid-column: 4;
    background-color: #1F0F2E;
    background-image: url(textures/magic.jpg);
    background-repeat: repeat;
}

.computerBox2 {
    height: 200px;
    width: 120px;
    grid-row: 2;
    grid-column: 5;
    background-color: #4F000B;
    background-image: url(textures/power.jpg);
    background-repeat: repeat;
}

.computerBox3 {
    height: 200px;
    width: 110px;
    grid-row: 2;
    grid-column: 6;
    background-color: #04471C;
    background-image: url(textures/age.jpg);
    background-repeat: repeat;
}

.computer-card-slot0{
    grid-row: 1;
    grid-column: 3;
}

.computer-card-slot1{
    grid-row: 1;
    grid-column: 4;
}

.computer-card-slot2{
    grid-row: 1;
    grid-column: 5;
}

.computer-card-slot3{
    grid-row: 1;
    grid-column: 6;
}

.player-card-slot0{
    grid-row: 4;
    grid-column: 3;
}

.player-card-slot1{
    grid-row: 4;
    grid-column: 4;
}

.player-card-slot2{
    grid-row: 4;
    grid-column: 5;
}

.player-card-slot3{
    grid-row: 4;
    grid-column: 6;
}

.startButton {
    display: flex;
    grid-column: 8;
    grid-row: 2;
    height: 100px; 
}

.battleButton {
    display: flex;
    grid-column: 8;
    grid-row: 3;
    height: 100px; 
}

.computer-card-battle-start-lane-0 {
    transform: translateX(0px) rotateZ(0deg) rotateY(180deg);
}
.computer-card-battle-start-lane-1 {
    transform: translateX(0px) rotateZ(0deg) rotateY(180deg);
}
.computer-card-battle-start-lane-2 {
    transform: translateX(0px) rotateZ(0deg) rotateY(180deg);
}
.computer-card-battle-start-lane-3 {
    transform: translateX(0px) rotateZ(0deg) rotateY(180deg);
}


.hide {
    display: none;
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #205f02;
  font-family: Creepy, serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 2200ms forwards;
}

.overlay-text-gone.visible {
    display: flex;
    animation: overlay-fade 1800ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

@keyframes overlay-fade {
  from {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
    font-size: 10em;
  }
}


@keyframes fade {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}

.sword {
  position: absolute;
  bottom: 25%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-5deg);
  z-index: 2;
  transform-origin: 0 100%;
  animation: chop var(--dur) var(--ease) infinite;

}

.blade {
  --color-1: #e7e7e7;
  --color-2: #f3f3f3;
  
  width: calc(var(--size) / 5);
  height: calc(var(--size) * 2);
  position: relative;
  background-image: linear-gradient(
    to right,
    var(--color-1), var(--color-1) 50%,
    var(--color-2) 50%, var(--color-2) 100%
  );
  box-shadow: inset -1vmin 0 4vmin rgba(black, 0.075);
  clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0% 15%);
  animation: blade-glow var(--dur) var(--ease) infinite;

}

.handle {
  position: relative;
  width: calc(var(--size) / 8);
  height: calc(var(--size) / 1.5);
  background-color: #363636;
  border-radius: 0 0 0.5vmin 0.5vmin;
  box-shadow: 
    inset 0 5vmin 2vmin rgba(black, 0.35),
    inset 2.5vmin 0 3vmin rgba(black, 0.35);
}

.handle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(var(--size) / 2.75);
    height: calc(var(--size) / 20);
    background-color: inherit;
    transform: translateX(-50%);
    box-shadow: inset 1vmin -1vmin 2.5vmin rgba(black, 0.35);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

.square {  
  position: relative;
  width: var(--size);
  height: var(--size);
  perspective: 100vw;
  animation: shake var(--dur) linear infinite;
}

@keyframes square-left {
  26% { transform: translateX(0); }
  100% { transform: translate(-5%, -5%) rotate(-1deg); }
}

@keyframes square-right {
  26% { transform: translateX(0); }
  100% { transform: translate(5%, 5%) rotate(2deg); }
}

@keyframes fade-out {
  88% { opacity: 1; }
  94%, 100% { opacity: 0; }
}

@keyframes chop {
  25% {
    transform: translate(-10%, -20%) rotate(-15deg);
  }
  26%, 30% {
    transform: translate(5%, 6%) rotate(125deg);
    z-index: 2;
  }
  42%, 80% {
    transform: translate(10%, 5%) rotate(120deg);
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}

@keyframes bg-color {
  25.25% { background-color: rgb(255, 255, 255); }
  25.251%, 88% { background-color: black; }
}

@keyframes shake {
  0%, 25% { filter: blur(0); }
  25.5% { filter: blur(1vmin); }
  26% {
    transform: translateX(-2%);
    filter: blur(0);
  }
  28% { transform: translateX(2%) scale(0.98); }
  29% { transform: translateX(-3%); }
  30% { transform: translateX(1%); }
  31% { transform: translateX(0); }
}